#eclipse files
.project
.settings

# temp files
.DS_Store
Thumbs.db
Desktop.ini
npm-debug.log

# project specific ignore
node_modules/
build/*
game.min.js
bamboo
editor
plugins

# Vim swap files
*.sw*

*.sublime-project
panda.js.sublime-workspace
